@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;

}

.App {
  /* min-height: 100vh;
  display: flex;
  /* background-image: url("./background1.jpg");
  background-position: center;
  background-size: cover;
  background-color: #080710; */
    height: 100vh;
    width: 100%;

    position: relative;
    background: #080710;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

 


.App .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.App::before{
  content: '';
  position: absolute;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background: linear-gradient(
    #ff512f,
    #f09819
);
  transform: translate(-490px, -150px);
    
}

.App::after{
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(
    #9b22ea,
    #bf23f6
  );
  transform: translate(490px, 170px);
    
}

.App .ball-1{
  height: 50px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(
    #9b22ea,
    #bf23f6
  );
  transform: translate(-250px,200px);
  position: absolute;
}

.App .ball-3{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(
      #ff512f,
      #f09819
  );
  transform: translate(150px,250px);
  position: absolute;
}

.App .ball-2{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: linear-gradient(#08ffe6, #fcd200);
  transform: translate(-10px,-220px);
  position: absolute;
}

.App .box{
  height: 100vh;
  width: 100%;
  padding: 0,20px;
  background: rgba(255,255,255,.05);
  z-index: 10;
  display: flex;
  position: relative;
  
  backdrop-filter: blur(10px);
  box-shadow: -15px 17px 17px rgba(255,255,255,0.25);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
